assets/xsds/artisti.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="artisti">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="artist">
        <xs:complexType>
          <xs:sequence>            
            <xs:element name="nume" type="xs:string"/>
            <xs:element name="data_nasterii" type="xs:string"/>
            <xs:element name="nationalitate" type="xs:string"/>
            <xs:element name="descriere" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>